﻿@using System.Globalization
@model HotelProject.Models.Visitor

@{
    ViewData["Title"] = "Заселение";
}

<h2>Заселение</h2>

<h4>Данные о госте</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">  
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Заселить" asp-route-roomId=@ViewBag.roomID class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Rooms" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
