﻿@model HotelProject.Models.Visitor

@{
    ViewData["Title"] = "Информация о посетителе";
}

<h2>Информация о посетителе</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>
