@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-default">
        <ul class="nav navbar-nav navbar-left">
            <li><a asp-area="" asp-controller="Rooms" asp-action="Index">Комнаты</a></li>
            <li><a asp-area="" asp-controller="Visitors" asp-action="Index">Посетители</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Добрый день, @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Войти</a></li>
    </ul>
}