﻿@model HotelProject.Models.Room

@{
    ViewData["Title"] = "Удаление комнаты";
}

<h2>Удаление комнаты</h2>

<h3>Вы действительно хотите удалить эту комнату?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPlaces)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfPlaces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBusy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBusy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
