﻿@model HotelProject.Models.Room

@{
    ViewData["Title"] = "Информация о комнате";
}

<h2>Информация о комнате</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPlaces)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfPlaces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBusy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBusy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
