﻿@model IEnumerable<HotelProject.Models.Room>

@{
    ViewData["Title"] = "Комнаты";
}

<h2>Комнаты</h2>

<p>
    <a asp-action="Create">Создать новую</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Найти: @Html.TextBox("SearchString")
        <input type="submit" value="Поиск" />
    </p>
}

<table id="RoomTable" class="table">
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th onclick="sortTable(1)">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th onclick="sortTable(2)">
                @Html.DisplayNameFor(model => model.NumberOfPlaces)
            </th>
            <th onclick="sortTable(3)">
                @Html.DisplayNameFor(model => model.IsBusy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPlaces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBusy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Правка</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Детали</a> |
                    @if (item.Visitors.Count == 0)
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>  @Html.Raw("|")
                    }
                    @if (item.IsBusy)
                    {
                        <a asp-controller="Visitors" asp-action="Edit" asp-route-roomId="@item.ID">Выселить</a>
                    }
                    else
                    {
                        <a asp-controller="Visitors" asp-action="Create" asp-route-roomId="@item.ID">Заселить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("RoomTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>